[Unit]
Description=Prixi Reverse Google Proxy
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/opt/prixi
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
Restart=always
User=root

[Install]
WantedBy=multi-user.target

