[Unit]
Description=Prixi Privacy Proxy
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/opt/prixi
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
Restart=always
User=root
EnvironmentFile=/etc/prixi/prixi.conf

[Install]
WantedBy=multi-user.target
